@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 66px;
    color: black; 
    background-color: white;
    padding-top: 80px;
    padding-bottom: 180px;
    margin: 0px;
}

.enc2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 197px;
    background-color: black;
    color: white;
    }

.enc3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 217px;
    color: black; 
    background-color: white;
}    

.enc4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px
    
}

.enc5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

.enc6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 58px;
    color: #0a2ff1; 
    background-color: white;
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.mar0pr {
    margin: 0%;
}

.pad200px {
    padding: 200px;

}

.ali{
    text-align: center;
    margin: 0px;
}

h1 {
    color: #0a2ff1;
    margin-top: 0px;
    padding-top: 20px;
}

.color {
    color: #0a2ff1;
}

.color2 {
    background-color: black;
    color: white;
}

.border {
    border-top: 50px solid #0a2ff1;
    border-bottom: 250px solid #0a2ff1;
}